@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

/* <link rel="stylesheet" type="text/css" href="http://www.example.com/style.css?ts=<?=time()?>" />*/



* {

  box-sizing: border-box;
  font-family: Montserrat;
  margin:0 auto;

}




 html {
  height: 100%;
     overflow: hidden;
}





body {

   /* getting the image and putting it into grey */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Ressources/Images/TrumpPoster.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



.container {

    padding: 200px;
    margin: auto 0;
    text-align: center;

}




h1 {

    color: #cc3333;
    font-size: 34px;
    text-align: center;

}
