@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');

/* <link rel="stylesheet" type="text/css" href="http://www.example.com/style.css?ts=<?=time()?>" />*/



* {

  box-sizing: border-box;
  font-family: Montserrat;
  margin:0 auto;
  text-align: center;

}




 html {
  height: 100%;
     /* No scrollbar*/
  overflow: hidden;
}




/* the background */
body {

   /* getting the image and putting it into grey */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Ressources/Images/TrumpPoster.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}




/* No scrollbar*/

h1 {

    color: #cc3333;
    font-size: 70px;
    text-align: center;
}



h2 {
     color: #cc3333;
     font-size: 40px;
     margin-top: 20px;
}

h3 {
    font-size: 50px;
    margin-top: 50px;
    color: #fff;
}





/* DRAG AND DROP */


/* class that contains the image, the one we want to drag and drop */
.fill {

    background-image: url('/Ressources/Images/dragndrop.png');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor:pointer;

}


/* places where we want to drop in the image */

.empty {


    display: inline-block;
    height: 165px;
    width: 165px;
    margin: 30px;
    border: 2px red solid;
    background-color: transparent;

}

/* holding the image */


.hold{
    border: solid #ccc 4px;

}

/* when putting the image inside the other */

.hovered {

    border-style: dashed;

}


/* We don't want to see the image stuck in the "empty" place when we drag it */
.invisible {

    display: none;

}






