@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,700|Roboto+Slab:700');



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat" ;

}

p{
  margin-top: 1em !important;
  margin-bottom: 1em;
}

main{
  margin: 10px !important;
  padding: 10px !important;
      display: grid;
  grid-template-columns:70% 25%;
  grid-column-gap: 100px;

}

footer {
  vertical-align: middle;
  position: fixed;
  bottom: 0;
  margin:0 ;
  width: 100%;
  background-color: #454545;
  color: white;
  text-align: center;
  height:120px;

}


#logo{

    position: absolute;
    top: 30%;
    left: 45%;
    text-align: center;

}




h1{
  vertical-align: middle;
  text-align: center;
  padding-top: 1.4%;
  position:relative;
  color: white;
  size: 30px;
  background: linear-gradient(#f6c0a6, #dd5325);
  color: white;
  margin:0px auto;
  height:100px;
  background-position: bottom 10% right 50%;

}

h3{

  background-color:#dd5325;
  color: white;

}


ul.topnav {
  list-style-type: none;
  position: relative;
  padding: 0px !important;
  margin:0px !important;
  overflow: hidden;
  background-color: #333;


}

ul.topnav li {float: left;}

ul.topnav li.hamburger{

    display: none;

}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li.active a{
  background-color:white;
  color:#dd5325;

}

aside ul{


  list-style-type: none;
  float: left;
  box-sizing: border-box;
  border:2px;
  margin: 20px 30px 0px 20px;
  box-shadow: 0 0 7px 3px grey;

}

aside ul li p{

  padding-left:15px;

}

aside ul li h3{


  width:100%;
  height:50px;
  line-height: 50px;
  background-color:#dd5325;
  color: white;
  text-align:left;
  padding-left:12px;
  font-size:20px;

}


#journal {
  border-collapse: collapse;
  width: 100%;
}

#journal td, #journal th {
  border: 1px solid #ddd;
  padding: 8px;
}

#journal th {
    padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #dd5325;
color: white;
}



header p{
    border: none;
    height: 1px;
    background-color: #D3D3D3;
    text-align:right;
    color: #D3D3D3;
    font-style: italic;
    margin-bottom: 3em !important;
}



ul.topnav li.right {float: right;}


@media screen and (max-width:320px) {

    aside {
        width: 50%;
        margin-bottom: 50px;
        margin-left: 120px;
      }

   .container ul{

  list-style-type: none;
  box-sizing: border-box;
  border:2px;
  margin: 20px 30px 0px 20px;
  box-shadow: 0 0 7px 3px grey;
  }

.grid {
  display: grid;

}

/---repris---du---corrigé---/
@media screen and (max-width: 580px) {

    main {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding-left: 0;
    }

    nav ul li.hamburger {
        display: block;
        margin: 0 auto 10px;
    }

    nav ul li img {
        width: 32px;
        height: 32px;
        margin: 4px 0 0 0 ;
        padding: 0;
        display: block;
    }

}
